@import url('https://refact0r.github.io/system24/src/main.css'); /* main theme css. DO NOT REMOVE */
/* customize things here */
:root {
	--font: 'DM Mono'; /* UI font name. it must be installed on your system. */
	letter-spacing: -0.05ch; /* decreases letter spacing for better readability. */
	font-weight: 300; /* UI font weight. */
	--label-font-weight: 500; /* font weight for panel labels. */
	--corner-text: 'system24'; /* custom text to display in the corner. only works on windows. */
	--pad: 16px; /* padding between panels. */
	--txt-pad: 10px; /* padding inside panels to prevent labels from clipping */
	--panel-roundness: 5px; /* corner roundness of panels. ONLY WORKS IF unrounding.css IS REMOVED (see above). */
	/* background colors */
	--bg-0: rgba(0,0,0,0.5); /* main background color. */
	--bg-1: rgba(97, 214, 214,0.1); /* background color for secondary elements like code blocks, embeds, etc. */
	--bg-2: rgb(53, 71, 87); /* color of neutral buttons. */
	--bg-3: rgb(67, 96, 129); /* color of neutral buttons when hovered. */
	/* state modifiers */
	--hover: rgba(97, 214, 214,0.125); /* color of hovered elements. */
	--active: rgba(102, 102, 102, 0.2); /* color of elements when clicked. */
	--selected: var(--active); /* color of selected elements. */
	/* text colors */
	--txt-dark: var(--bg-0); /* color of dark text on colored backgrounds. */
	--txt-link: rgb(59, 120, 255); /* color of links. */
	--txt-0: rgb(242, 242, 242); /* color of bright/white text. */
	--txt-1: rgb(97, 214, 214); /* main text color. */
	--txt-2: rgb(118, 118, 118); /* color of secondary text like channel list. */
	--txt-3: rgb(77, 77, 77); /* color of muted text. */
	/* accent colors */
	--acc-0: rgb(59, 120, 255); /* main accent color. */
	--acc-1: rgb(58, 150, 221); /* color of accent buttons when hovered. */
	--acc-2: rgb(0, 55, 218); /* color of accent buttons when clicked. */
	/* borders */
	--border-width: 2px; /* panel border thickness. */
	--border-color: rgba(44, 110, 160, 0.65); /* panel border color. */
	--border-hover-color: rgb(58, 150, 221); /* panel border color when hovered. */
	--border-transition: 0.2s ease; /* panel border transition. */
	/* status dot colors */
	--online-dot: var(--green); /* color of online dot. */
	--dnd-dot: var(--pink); /* color of do not disturb dot. */
	--idle-dot: var(--yellow); /* color of idle dot. */
	--streaming-dot: var(--purple); /* color of streaming dot. */
	/* mention/ping and message colors */
	--mention-txt: var(--acc-0); /* color of mention text. */
	--mention-bg: color-mix(in oklch, var(--acc-0), transparent 90%); /* background highlight of mention text. */
	--mention-overlay: color-mix(in oklch, var(--acc-0), transparent 90%); /* overlay color of messages that mention you. */
	--mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%); /* overlay color of messages that mention you when hovered. */
	--reply-overlay: var(--active); /* overlay color of message you are replying to. */
	--reply-hover-overlay: var(--hover); /* overlay color of message you are replying to when hovered. */
	/* color shades */
	--pink: rgb(229, 134, 165);
	--pink-1: rgb(195, 104, 134);
	--pink-2: rgb(162, 74, 105);
	--purple: rgb(179, 150, 232);
	--purple-1: rgb(149, 119, 199);
	--purple-2: rgb(119, 90, 166);
	--cyan: rgb(29, 190, 197);
	--yellow: rgb(224, 174, 87);
	--green: rgb(29, 215, 94);
	--green-1: rgb(29, 185, 84);
	--green-2: rgb(25, 159, 72);
	/* customs */
	--bgi:url(https://i.liloandstit.ch/stay-cool.png);
	--bgp:center;
	--bgs:cover;
}
/* 
+---------------------------------------------------------------------------------+
| everything below this line is an affront to god and should be treaded carefully |
+---------------------------------------------------------------------------------+
*/
div[class^="descriptionClamp"]{-webkit-line-clamp: 9999999;max-height:unset!important;}
div[class^="unreadMentionsIndicatorBottom"]{bottom:0!important;}
div[class^='footer_'],div[class^='channelAppLauncher_'],.container_e5a9ed{display:none;}
#app-mount,[class^=app_],[class^=bg_],[class^=chat_],[class^=chatContent_],[class^='contentRegion_'] [class^='contentRegionScroller_'] [class^='contentColumn_'],[class^='contentRegion_'],[class^='contentRegion_'] [class^='contentRegionScroller_'],[class^='standardSidebarView_'],[class^='background_'] [class^='fieldList_'],[class^='channelTextArea_'],#emoji-picker-tab-panel [class^='header_'],[aria-label="Friends"],[class^='nowPlayingColumn_'] aside{background-color:transparent!important;}
body{background-color:rgba(0, 0, 0, 0.8);}
[class^=panels_], [class^=sidebar_] > [class^=container_], [class^=chatContent_] > [class^=messagesWrapper_], [class^=membersWrap_], .guilds_a4d4d9, [class^=privateChannels_], .container_fc4f04, [class^=peopleColumn_], [class^=nowPlayingColumn_], [class^=channelBottomBarArea_], .container_a6d69a, [class^='content_']>[class^='outer_'], [class^=searchResultsWrap_], .scroller_fb4810, [class^=chat_] > [class*=container_], [class^='form_'] > [class^='wrapper_']{background-color:var(--bg-0)!important;}
html{background-image:var(--bgi);}
[class^='sidebar_'] > [class^='container_']::after, .container_fc4f04::after, [class^='chatContent_'] > [class^='messagesWrapper_']::after, [class^='panels_']::after, [class^='form_'] [class^='channelTextArea_']::after, .guilds_a4d4d9::after, [class^='membersWrap_']::after, [class^='privateChannels_']::after, .container_a6d69a::after, [class^='content_'] > [class^='outer_']::after, [class^='searchResultsWrap_']::after, .scroller_fb4810::after, [class^='peopleColumn_']::after, [class^='nowPlayingColumn_']::after,[class^='callContainer_']::after{background-color:black;color:var(--border-color);border-radius:5px;border:2px solid var(--border-color);transition:var(--border-transition);}
.colorDefault_d90b3d:hover,.colorDefault_d90b3d.focused_d90b3d{color:rgb(97, 214, 214);}/*rclick menu*/
.colorDefault_d90b3d.focused_d90b3d:not(.checkboxContainer_d90b3d) path{fill:rgb(97, 214, 214);}
.colorDefault_d90b3d{color:rgb(59, 120, 255);}
.vc-spotify-time-left, .vc-spotify-time-right{mix-blend-mode:hard-light}
[class^='textArea_']{font-weight:300;}
[class^='content_'] > [class^='outer_']{background-clip:unset!important;}
[class^="panels_"], [class^="sidebar_"] > [class^="container_"], [class^="chatContent_"] > [class^="messagesWrapper_"], [class^="membersWrap_"], .guilds_a4d4d9, [class^="privateChannels_"], .container_fc4f04, [class^="peopleColumn_"], [class^="nowPlayingColumn_"], [class^="channelBottomBarArea_"], .container_a6d69a, [class^="content_"] > [class^="outer_"], [class^="searchResultsWrap_"], .scroller_fb4810, [class^="chat_"] > [class*="container_"], [class^="form_"] > [class^="wrapper_"],[class^='callContainer_'] {&:hover {&::after {color: var(--border-hover-color);border-color:var(--border-hover-color);}}}
div[class^='videoButton_'],[class^='controlIcon_'],[class^='status_']{color:white!important;}
[aria-label="Expression Picker"] div [class^='contentWrapper_'] [class^='header_'],[aria-label="Expression Picker"] div [class^='contentWrapper_'] [class^='content_'],[aria-label="Expression Picker"] div [class^='contentWrapper_'] [class^='inspector_'],[aria-label="Expression Picker"] div [class^='contentWrapper_'] [class^='wrapper_'],[class^='outer_']:not(.custom-profile-theme) .inner_c69a7b,#emoji-picker-tab-panel [class^='inspector_'],#emoji-picker-tab-panel [class^='wrapper_'],#emoji-picker-tab-panel [class^='emojiPicker_'],[class^='quickswitcher_'] [class^='scroller_'],[aria-label="Inbox"] [class^='recentMentionsPopout_'] [class^='channelHeader_'],[aria-label="Inbox"] [class^='container_'] [class^='channelHeader_'],[aria-label="Inbox"] .container_fe1358,[class^='autocomplete_'] [class^='wrapper_']{background:black;}
[aria-label="Expression Picker"] div [class^='contentWrapper_']{background:black;border:2px solid var(--border-color);border-radius:0;border-top-left-radius:5px;bottom:10px;right:-2px;transition:var(--border-transition);}
[aria-label="Expression Picker"] div [class^='contentWrapper_']:hover{border-color:var(--border-hover-color);}
[class^='focusLock_'] [class^='modal_'],[class^='quickswitcher_'],[aria-label="Pinned Messages"] [class^='messagesPopoutWrap_'],[aria-label="Inbox"] [class^='recentMentionsPopout_'],[aria-label="Inbox"] .container_f1c3d9,[aria-label="Inbox"] .container_f8a938,.vc-notification-root,#thread-context,#channel-context,#message,#user-context,[id^='spotify-'],#channel-attach,[class^='layerContainer_'] [id^='popout_'],[class^='layerContainer_'] [class^='layer_'] [class^='focusLock_'] [class^='root_']:not([aria-label="Roles"]),#guild-context,[class^='autocomplete_'],.modalSize_e1cc86.root_f9a4c9.fullscreenOnMobile_f9a4c9.rootWithShadow_f9a4c9,[role='menu']{background:black!important;border:2px solid var(--border-color);border-radius:5px;transition:border-color var(--border-transition);}
[class^='focusLock_'] [class^='modal_']:hover,[class^='quickswitcher_']:hover,[aria-label="Pinned Messages"] [class^='messagesPopoutWrap_']:hover,[aria-label="Inbox"] [class^='recentMentionsPopout_']:hover,[aria-label="Inbox"] .container_f1c3d9:hover,.container_f1c3d9,[aria-label="Inbox"] .container_f8a938:hover,.vc-notification-root:hover,#thread-context:hover,#channel-context:hover,#message:hover,#user-context:hover,[id^='spotify-']:hover,#channel-attach:hover,[class^='layerContainer_'] [id^='popout_']:hover,[class^='layerContainer_'] [class^='layer_'] [class^='focusLock_'] [class^='root_']:not([aria-label="Roles"]):hover,#guild-context:hover,[class^='autocomplete_']:hover,.modalSize_e1cc86.root_f9a4c9.fullscreenOnMobile_f9a4c9.rootWithShadow_f9a4c9:hover,[role='menu']:hover{border-color:var(--border-hover-color);}
.theme-dark [class^='children_']:after{display:none;}
.lookFilled_dd4f85,.vc-settings-quickActions-pill,.vc-settings-card.vc-backup-restore-card,[class^='unreadBottom_'] [class^='bar_'],[class^='clipBadge'],[class^='qualityIndicator'],[class^='premiumStreamIcon_'],[class^='tooltip_'],[class^='videoBackgroundTransition_'] [class^='text'],[class^='videoBackgroundTransition_'] button [class^='contents_'],[class^='videoControls_'] [class^='header'],[class^='audioControls_']{color:var(--txt-0)!important;} /*[class^='unreadMentions'] [class^='bar_']*/
nav[class^='sidebar_'] [class^='side_'] [class^='item_']:not(.selected_a0),nav[class^='sidebar_'] [class^='side_'] [class^='premiumTab_']:not(.selected_a0),nav[class^='sidebar_'] [class^='side_'] [class^='vc-']:not(.selected_a0){color:rgba(97, 214, 214, 0.65);}
[style='opacity: 1; background-color: rgb(35, 165, 90);'],.default-colors.checked_cebd1c{background-color:var(--acc-0)!important;}
[aria-label="User Profile Modal"] [class^='root_'],[id^='popout_'] [class^='outer_']{border-radius:5px!important;}
[aria-label="User Profile Modal"] .inner_c69a7b,[aria-label="User Profile Modal"] .outer_c69a7b{border-radius:0}
[aria-label="Add Friend"]{background-color:var(--acc-0)!important;color:var(--txt-0)!important;}
[id^='spotify-'] [id^='spotify-'] {background:black;border:0;transition:unset;}
[class^='contextMenuNub_']{color:white!important;background:var(--bg-0)!important;}
[class^='contextMenuNub_']:hover{color:black!important;background:white!important;}
